.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 34px;
}

.switch__check {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: all easy 0.4s;
}

.slider::before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: all easy 0.4s;
}

.switch__check:checked + .slider {
  background-color: #2196f3;
}

.switch__check:checked + .slider::before {
  transform: translateX(35px);
  background-color: rgb(128, 62, 0);
}

.switch-box_row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 5px;
}

.switch__description {
  color: #000;
  font-size: 1.7rem;
  line-height: 1.7rem;
  margin-left: 10px;
}
